<div class="list-group">

    <a href="/dashboard/"
       class="list-group-item list-group-item-action">
        Dashboard
    </a>

    <a href="/passengers/"
       class="list-group-item list-group-item-action">
        Passengers
    </a>

    <a href="/drivers/"
       class="list-group-item list-group-item-action">
        Drivers
    </a>

    <a href="/vehicles/"
       class="list-group-item list-group-item-action">
        Vehicles
    </a>

    <a href="/routes/"
       class="list-group-item list-group-item-action">
        Routes
    </a>

    <a href="/trips/"
       class="list-group-item list-group-item-action">
        Trips
    </a>

    <a href="/bookings/"
       class="list-group-item list-group-item-action">
        Bookings
    </a>

    <a href="/reports/"
       class="list-group-item list-group-item-action">
        Reports
    </a>

</div>