{% with role=request.user.profile.role %}
<div class="list-group">

    <a href="/dashboard/"
       class="list-group-item list-group-item-action">
        Dashboard
    </a>

    {% if request.user.is_superuser or role == "STAFF" or role == "ADMIN" %}

    <a href="/passengers/"
       class="list-group-item list-group-item-action">
        Passengers
    </a>

    <a href="/drivers/"
       class="list-group-item list-group-item-action">
        Drivers
    </a>

    {% endif %}

    <a href="/vehicles/"
       class="list-group-item list-group-item-action">
        Vehicles
    </a>

    <a href="/routes/"
       class="list-group-item list-group-item-action">
        Routes
    </a>

    <a href="/trips/"
       class="list-group-item list-group-item-action">
        Trips
    </a>

    <a href="/bookings/"
       class="list-group-item list-group-item-action">
        Bookings
    </a>

    {% if request.user.is_superuser or role == "STAFF" or role == "ADMIN" %}

    <a href="/reports/"
       class="list-group-item list-group-item-action">
        Reports
    </a>

    {% endif %}

</div>
{% endwith %}
